<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <style>
        button {
            margin-right: 10px;
            padding: 10px 20px;
            border: none;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav>
            <button onclick="if (history.length > 1) { history.back(); } else { window.location.href = '{% url 'home' %}'; }" class="btn btn-outline-primary">Voltar</button>
            <button onclick="location.href='{% url 'home' %}'" class="nav-button">Home</button>
            <button onclick="location.href='{% url 'previsao' %}'" class="nav-button">Previsão</button>
            <button onclick="location.href='{% url 'mapadecalor' %}'" class="nav-button">Mapa de Calor</button>
        <!--button onclick="location.href='{% url 'relatorio' %}'" class="nav-button">Relatório</button>-->
<!--            <button onclick="location.href='{% url 'data' %}'" class="nav-button">Dados</button>-->
            {% if user.is_authenticated %}
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-button">Logout</button>
                </form>
            {% else %}
                <button onclick="location.href='{% url 'login' %}'" class="nav-button">Login</button>
            {% endif %}

        </nav>
    </header>

    <!-- Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
