{% extends 'clients_profiles/base.html' %}

{% block title %}Previsão{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .form-group {
            margin-bottom: 20px;
        }

        #data-preview table {
            border-collapse: collapse;
            width: 100%;
        }

        #data-preview th, #data-preview td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #data-preview th {
            background-color: #f2f2f2;
            text-align: left;
        }

        button {
            margin-right: 10px;
            padding: 10px 20px;
            border: none;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }

        button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        button:hover:not(:disabled) {
            background-color: #0056b3;
        }

        #data-preview {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            display: none;
        }
        #myChart {
            max-height: 300px;
            max-width: fit-content;
        }
    </style>
    <!-- Dependências do DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>    
</head>
<body>
    <h1>Página de Previsão</h1>

    <form id="date-form" method="POST">
        <div class="form-group">
            <label for="start-date">Data de Início:</label>
            <input type="date" id="start-date" name="start-date" required>
            <label for="end-date">Data de Fim:</label>
            <input type="date" id="end-date" name="end-date" required>
        </div>
        <p>Intervalo de Datas: <span id="min-date-display"></span> até <span id="max-date-display"></span></p>
        <button id="generate-cluster" type="button" disabled>Criar Cluster Geográfico</button>
        <button id="define-regions" type="button" style="display: none;">Definir Regiões</button>
        <button id="train-model" type="button" style="display: none;">Treinar Modelo</button>
    </form>

    <div id="data-preview"></div>
    <div id="plot-container" style="margin-top: 20px;"></div>
    <div id="plot-container" style="width: 95%; height: 300px; margin: auto;">
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const startDateInput = document.getElementById('start-date');
            const endDateInput = document.getElementById('end-date');
            const clusterButton = document.getElementById('generate-cluster');
            const defineRegionsButton = document.getElementById('define-regions');
            const trainModelButton = document.getElementById('train-model');
            const dataPreviewDiv = document.getElementById('data-preview');

            // Helper para CSRF
            function getCSRFToken() {
                return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            }

            // Atualiza o estado do botão de cluster
            function toggleClusterButton() {
                const startDate = startDateInput.value;
                const endDate = endDateInput.value;
                clusterButton.disabled = !(startDate && endDate && isDateValid(startDate) && isDateValid(endDate));
            }

            // Valida uma data
            function isDateValid(dateString) {
                const date = new Date(dateString);
                return !isNaN(date);
            }

            // Busca os limites de data da API
            async function fetchDateLimits() {
                try {
                    const response = await fetch('/date-limits/');
                    const data = await response.json();

                    if (data.start_date && data.end_date) {
                        const startDate = formatDate(data.start_date);
                        const endDate = formatDate(data.end_date);

                        if (startDate && endDate) {
                            startDateInput.min = startDate;
                            startDateInput.max = endDate;
                            endDateInput.min = startDate;
                            endDateInput.max = endDate;

                            document.getElementById('min-date-display').textContent = startDate;
                            document.getElementById('max-date-display').textContent = endDate;
                        }
                    }
                } catch (error) {
                    console.error('Erro ao buscar limites de data:', error);
                }
            }

            // Formata uma data no formato YYYY-MM-DD
            function formatDate(dateString) {
                const date = new Date(dateString);
                if (isNaN(date)) return '';
                const year = date.getFullYear();
                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                const day = date.getDate().toString().padStart(2, '0');
                return `${year}-${month}-${day}`;
            }

            // Função para enviar requisições
            async function sendRequest(url, method, payload = {}) {
                try {
                    const response = await fetch(url, {
                        method: method,
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCSRFToken()
                        },
                        body: JSON.stringify(payload)
                    });
                    return await response.json();
                } catch (error) {
                    console.error('Erro ao enviar requisição:', error);
                }
            }

            // Eventos
            startDateInput.addEventListener('change', toggleClusterButton);
            endDateInput.addEventListener('change', toggleClusterButton);

            clusterButton.addEventListener('click', async () => {
                const startDate = startDateInput.value;
                const endDate = endDateInput.value;

                const data = await sendRequest('/clients_profiles/create-cluster/', 'POST', { start_date: startDate, end_date: endDate });

                if (data) {
                    alert(data.message);

                    if (data.head) {
                        dataPreviewDiv.innerHTML = `
                            <h3>Preview dos Dados</h3>
                            <table id="data-table" class="display">
                            ${data.head}
                            </table>
                        `;
                        dataPreviewDiv.style.display = 'block';
                        dataPreviewDiv.style.maxWidth = '100%';  // Ajusta a largura para o tamanho da tela
                        dataPreviewDiv.style.maxHeight = '300px';  // Limita a altura da tabela
                        dataPreviewDiv.style.overflowY = 'auto';  // Adiciona rolagem vertical
                    }

                    defineRegionsButton.style.display = 'inline-block';
                }
            });

            defineRegionsButton.addEventListener('click', async () => {
                const data = await sendRequest('/clients_profiles/define-regions/', 'POST');
                if (data) {
                    alert(data.message);
                    trainModelButton.style.display = 'inline-block';
                }
            });
/*
            trainModelButton.addEventListener('click', async () => {
                const data = await sendRequest('/clients_profiles/train-model/', 'POST');
                if (data) {
                    alert(data.message);
                }
            });
*/
            fetchDateLimits();
        });
        document.getElementById('define-regions').addEventListener('click', async () => {
            const data = await sendRequest('/clients_profiles/define-regions/', 'POST');
            if (data) {
                alert(data.message);
                trainModelButton.style.display = 'inline-block';

                // Buscar e renderizar o gráfico
                const plotData = await fetch('/clients_profiles/get-plot/');
                const plotResponse = await plotData.json();
                if (plotResponse.plot) {
                    const plotContainer = document.getElementById('plot-container');
                    plotContainer.innerHTML = '';
                    const graphDiv = document.createElement('div');
                    graphDiv.id = 'plotly-graph';
                    plotContainer.appendChild(graphDiv);
                    Plotly.newPlot('plotly-graph', JSON.parse(plotResponse.plot).data, JSON.parse(plotResponse.plot).layout);
                } else {
                    alert('Erro ao gerar o gráfico.');
                }
            }
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const trainModelButton = document.getElementById('train-model');
            const plotContainer = document.getElementById('plot-container');
    
            // Função que envia requisições para o back-end
            async function sendRequest(url, method) {
                try {
                    const response = await fetch(url, {
                        method: method,
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCSRFToken()
                        }
                    });
                    return await response.json();
                } catch (error) {
                    console.error('Erro ao enviar requisição:', error);
                }
            }
    
            // Função para obter o CSRF Token
            function getCSRFToken() {
                return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            }
    
            // Função para renderizar o gráfico
            function renderChart(data) {
                const { real, forecast, rmse } = data;
    
                // Limpar o container de gráficos antes de adicionar o novo gráfico
                plotContainer.innerHTML = '';
    
                // Criar o gráfico no canvas
                const ctx = document.getElementById('myChart').getContext('2d');
    
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: real.map((_, index) => `Ponto ${index + 1}`),  // Labels dinamicamente
                        datasets: [
                            {
                                label: 'Real',
                                data: real,
                                borderColor: 'rgba(75, 192, 192, 1)',
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderWidth: 2,
                                tension: 0.4
                            },
                            {
                                label: 'Previsto',
                                data: forecast,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderWidth: 2,
                                tension: 0.4
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: `Gráfico de Previsão - RMSE: ${rmse.toFixed(2)}`
                            }
                        },
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: 'Pontos'
                                }
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: 'Valores'
                                }
                            }
                        }
                    }
                });
            }
    
            // Evento de click no botão de treino do modelo
            trainModelButton.addEventListener('click', async () => {
                const data = await sendRequest('/clients_profiles/train-model/', 'POST');
                
                if (data.error) {
                    alert(data.error);
                    return;
                }
    
                alert(data.message);  // Mostra a mensagem que o back-end retorna
    
                // Renderiza o gráfico com os dados
                renderChart(data);
            });
        });
    </script>
    
</body>
</html>
{% endblock %}
