asgiref==3.8.1
Django==5.0.6
django-auditlog==3.0.0
django-jsonfield==1.4.1
djangorestframework==3.15.1
six==1.16.0
sqlparse==0.5.0
pandas==1.5.3          # Se estiver usando pandas
psutil==5.9.1          # Se estiver usando psutil
celery==5.2.7          # Se estiver usando Celery
openpyxl==3.1.2        # Se estiver usando openpyxl
folium==0.14.0         # Se estiver usando folium
